<footer class="pt-4 my-md-5 pt-md-5 border-top text-center">
        <div class="col-6 col-md">
            <h5>КОНТАКТЫ</h5>
            <ul class="list-unstyled text-small">
                <li><a href="https://www.linkedin.com/in/владислав-шинкарьов-25b53a1b6/" class="text-muted">Linkedin</a>
                </li>
                <li>E-mail: RoyalSam@ukr.net</li>
                <li>Номер телефона: (068)-90-07-931</li>
            </ul>
        </div>
    <div class="col-6 col-md">
            <h5>Использую API <a href="https://openweathermap.org" class="text-muted">OpenWeatherMap</a></h5>
        </div>

</footer>